*{
    margin:0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
    
}

body{
    background: #000000;
    color: white;
}

.header{
        width: 100%;
        height: 50vh;
        position: relative;
       /* background-color: BLUE; THIS IS FOR BACKGROUND COLOR FOR IMAGE CONTRAST*/
       background: radial-gradient(63.96% 63.96% at 50.00% 33.33%, #6947EF 0%, #000 100%); 
}

.header::before{
    background-image: url(images/bg-about-us.png.jpg);
    background-size:  cover;
    position: absolute;
    background-position: left;
    content: '';
    opacity: 0.3;
    inset: 0;
}

.container{
    padding: 10px 10%;
}


/*nav bar*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

.goat{
    font-size: 40px;
    font-weight: 400;
}
.knows{
    color: #6947EF;
    font-weight: 700;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 38px 20px;
}
h2 a{
    cursor: pointer;
    text-decoration: none;
    color: white;
}
nav ul li a{
    color:#FFFFFF;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    cursor: pointer;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #6947EF;
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}



nav ul li a.active{
    color: #6947EF;
    border-bottom: 4px solid #6947EF;
    width: 100%;
    height: 3px;
    border-radius: 1px;
    transition: 0.5s ease;
  }
  

  /*heading*/
  

.bg-heading h2 { 
    color: transparent;
    
    font-weight: 900;
    font-size: 109.66px;
    line-height: 28px;

    font-family: 'Poppins',normal;

    text-align: center;
    letter-spacing: 0.175em;
    text-transform: capitalize;

    -webkit-text-stroke-width: 3px; 
    -webkit-text-stroke-color: #6947EF;

    position: absolute;
    left: calc(42% - 582px/2);
    top: 250px;
    width: 800px;
    height: 28px;

    
} 


.sub-heading h3{

    position: absolute;
    padding: 0;
    width: 600px;
    height: 28px;
    left: calc(43% - 272px/2);
    top: 250px;

    font-weight: 700;
    font-size: 48px;
    line-height: 28px;

    letter-spacing: 0.045em;
    text-transform: capitalize;

    color: white;
    background: none;

    background: transparent;
}



/* body of about page*/

#ourstory{
    position: absolute;
    width: 401px;
    height: 29px;

    top: 448px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 41.89px;
    line-height: 28px;
    /* or 67% */

    /* leading-trim and text-edge are draft CSS properties.

    Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
    */
    letter-spacing: 0.045em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.bodycontent{
    display: flex;
}

.bodycontent p{
   
    position: absolute;
    width: 619px;
    height: 491px;
    left: 140px;
    top: 627px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* leading-trim and text-edge are draft CSS properties.
    
    Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
    */
    
    
    color: #FFFFFF;
    

}

.bodycontent img{

    position: absolute;
    width: 450px;
    height: 450px;
    left: 907px;
    top: 627px;
    border-radius: 10px;
   
}

/*heading 2*/

.bg-heading2 h2 { 
    color: transparent;
    
    font-weight: 900;
    font-size: 109.66px;
    line-height: 28px;

    font-family: 'Poppins',normal;

    text-align: center;
    letter-spacing: 0.175em;
    text-transform: capitalize;

    -webkit-text-stroke-width: 3px; 
    -webkit-text-stroke-color: #6947EF;

    position: absolute;
    width: 645px;
    height: 78px;
    left: calc(50% - 645px/2 + 0.5px);
    top: 1268px;

} 


.sub-heading2 h3{

   
    letter-spacing: 0.045em;
    text-transform: capitalize;

    color: white;
    background: none;

    background: transparent;

    position: absolute;
    width: 530px;
    height: 30px;
    left: calc(50% - 530px/2 + 1px);
    top: 1268px;

    font-weight: 700;
    font-size: 41.89px;
    line-height: 28px;

}

/* founder section*/

.founder{
    display: flex;
}

.cdoimg img{
    position: absolute;
width: 476px;
height: 317px;
left: 159px;
top: 1496px;
border-radius: 10px;
}

.ctoimg img{
    position: absolute;
width: 476px;
height: 317px;
left: 845px;
top: 1496px;
border-radius: 10px;
}

.cdosocials , .ctosocials
{
    display: flex;
}

.cdodesignation span{
    position: absolute;
    width: 83px;
    height: 11px;
    left: 159px;
    top: 1833px;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    align-items: center;
    letter-spacing: 0.045em;
    text-transform: capitalize;

    color: #FFFFFF;
}

.cdodesignation p{
    
    position: absolute;
    width: 31px;
    height: 9px;
    left: 159px;
    top: 1848px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 12.8px;
    line-height: 28px;
    letter-spacing: 0.07em;
    text-transform: capitalize;

    color: #FFFFFF;

    opacity: 0.5;
}

.ctodesignation span{
    position: absolute;
width: 142px;
height: 11px;
left: 845px;
top: 1833px;
font-weight: 500;
font-size: 16px;
line-height: 28px;
display: flex;
align-items: center;
letter-spacing: 0.045em;
text-transform: capitalize;

color: #FFFFFF;

}

.ctodesignation p{

    position: absolute;
width: 29px;
height: 9px;
left: 845px;
top: 1848px;
font-weight: 300;
font-size: 12.8px;
line-height: 28px;
letter-spacing: 0.07em;
text-transform: capitalize;

color: #FFFFFF;

opacity: 0.5;
}

.cdosocials{
    
    margin-top:1410px;
    margin-left: 450px;
    size: 100px;
}

.fa-linkedin-in {
    background: transparent;
    color: white;
}
.fa-instagram{
    background: transparent;
    color: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    font-size: ;
}

/*quote*/
.quote #p1{
    position: absolute;
    width: 958px;
    height: 78px;
    left: calc(50% - 958px/2);
    top: 2017px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 41.89px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #FFFFFF;
}

.quote #p2{
    position: absolute;
    width: 958px;
    height: 78px;
    left: calc(50% - 958px/2);
    top: 2065px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 41.89px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #FFFFFF;
}

/*btn*/
.button {
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    background-color:  #6947EF;
    padding: 16px 20px;
    gap: 10px;
    display: block;
    width: 178px;
    height: 59px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition: background 0.5s;
    position: absolute;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    transition: transform 0.5s;
    top:2200px;
}

.btn:hover{
    background-color: #1E1E1E;
    color: WHITE;
    border: 2px solid WHITE;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

hr{
    position: absolute;
width: 1383px;
height: 0px;
left: calc(50% - 1383px/2 - 0.5px);
top: 2441px;

border: 1px solid #FFFFFF;
}

/*footer*/
.footercontent{
    display: flex;
    justify-content: space-between; 
    margin-top:550px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    font-size: 50px;
}


 .fb{
    color: #3b5998;
}

.linledin{
    color: #0A66C2;
    background: ;
}

 .instagram{
    color:radial-gradient( circle farthest-corner 28% 100%, var(--yellow) 0%, var(--yellow_to) 10%, var(--orange) 22%, var(--red) 35%, transparent 65% ), linear-gradient(145deg, var(--blue) 10%, var(--purple) 70%);;
}

 .twitter{
    color: #00acee;
}

.bglogo{
    color: transparent;
    
    font-weight: 500;
    font-size: 137.66px;
    line-height: 28px;

    font-family: 'Poppins',normal;

    text-align: center;
    letter-spacing: 0.175em;
    text-transform: capitalize;

    -webkit-text-stroke-width: 3px; 
    -webkit-text-stroke-color: #6947EF;

    position: absolute;
    width: 1880px;
    height: 139px;
    
    left: calc(39% - 1541px/2 + 0.5px);
    /*left:0%;
    right: 0%;*/
    top: 2575px;
    opacity: 0.5;
}

/*bottom */

.bottomtext
{
    position: absolute;
width: 202px;
height: 14px;
left: calc(50% - 202px/2 + 1px);
top: 2732px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;

letter-spacing: 0.26em;

color: #FFFFFF;

}
