*{
    margin:0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
    
}

body{
    background: #000000;
    color: white;
}

.header{
        width: 100%;
        height: 50vh;
        position: relative;
        background: radial-gradient(63.96% 63.96% at 50.00% 33.33%, #6947EF 0%, #000 100%); 
       /* background-color: BLUE; THIS IS FOR BACKGROUND COLOR FOR IMAGE CONTRAST*/
       
}

.header::before{
    /*background-image: url(images/bgservice.jpg);*/
    background-size:  cover;
    position: absolute;
    background-position: left;
    content: '';
    opacity: 0.3;
    inset: 0;
}

.container{
    padding: 10px 10%;
}


/*nav bar*/

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

nav h2{
    font-size: 40px;
    font-weight: 400;
}
nav h2 span{
    color: #6947EF;
    font-weight: 700;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 38px 20px;
}
h2 a{
    cursor: pointer;
    text-decoration: none;
    color: white;
}
nav ul li a{
    color:#FFFFFF;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    cursor: pointer;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #6947EF;
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}



nav ul li a.active{
    color: #6947EF;
    border-bottom: 4px solid #6947EF;
    width: 100%;
    height: 3px;
    border-radius: 1px;
    transition: 0.5s ease;
  }

  /*heading*/

   .contact-heading{
        background-image: url(images/CONTACT.svg);
        margin-left: 23%;
        background-repeat: no-repeat;
        height: 80px;
        margin-top: 80px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
    }

    .contact-heading p{
        color: #FFF;
        display: block;
        position: absolute;
       left:195px;
        top:25px;
        font-size: 41.89px;
        font-weight: 700;
        line-height: 28px; /* 66.842% */
        letter-spacing: 1.885px;
    
    }

    .contact-underline{

        position: absolute;
        width: 130px;
        height: 1px;
        left:348px;
        top:65px;
        color: white;
        stroke-width: 2px;
        
    }

    .contact-subheading{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-weight: 400;
        margin-top: 10px;
       
       
    }
  /*.bg-heading h2 { 
    color: transparent;
    
    font-weight: 900;
    font-size: 109.66px;
    line-height: 28px;

    font-family: 'Poppins',normal;

    text-align: center;
    letter-spacing: 0.175em;
    text-transform: capitalize;

    -webkit-text-stroke-width: 3px; 
    -webkit-text-stroke-color: #6947EF;

    position: absolute;
    left: calc(42% - 582px/2);
    top: 250px;
    width: 800px;
    height: 28px;

    
} 


.sub-heading h3{

    position: absolute;
    padding: 0;
    width: 600px;
    height: 28px;
    left: calc(47% - 272px/2);
    top: 250px;

    font-weight: 700;
    font-size: 48px;
    line-height: 28px;

    letter-spacing: 0.045em;
    text-transform: capitalize;

    color: white;
    background: none;

    background: transparent;
}

.subtitle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:200px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}*/


/*FORM BG*/
.formbg{
    width: 1260px;
    height: 1220px;
    position: relative;
    /*background: url(images/about-img2.jpg);*/
    margin-top: 100px;
    
    /*background-image: url(images/formbg.jpg);
    background-size:  cover;
    opacity: 0.3;*/
    
}

.formbg::before{
    

    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(images/formbg.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.4;
    z-index: -1;
    border-radius: 10px;
}

form{
    padding-top: 30px;
    margin-left: 50px;
    font-size: 20px;
    position: relative;
    z-index: 1;
    
}

form input,select,textarea{
    font-size: 20px;
    border-radius: 4px;
    background: transparent;
    border-radius: 4px;
    border: 1px solid #FFF;
    width: 290px;
    height: 45px;
    color: white;
}


option/*:not(:checked) */{
    background-color: black;
 }
form textarea{
    font-size: 20px;
    width: 680px;
    height: 381px;
    color: white;
}

.label{
    font-size: 20px;
}

.button{
    border-radius: 6px;
    background: #6947EF;
    display: inline-flex;
    padding: 16px 32px 19px 32px;
    align-items: flex-start;
    gap: 10px;
    color: white;
    border: none;
    font-size: 16px;
    font-family: 'Poppins',sans-serif;
    width: 121px;
    height: 46px;
}

.tagline{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins';
    font-size: 20px;
    margin-top: 80px;
    
}

/*heading 2*/
.bg-heading2 h2 { 
    color: transparent;
    
    font-weight: 900;
    font-size: 109.66px;
    line-height: 28px;

    font-family: 'Poppins',medium;

    text-align: center;
    letter-spacing: 0.175em;
    text-transform: capitalize;

    -webkit-text-stroke-width: 3px; 
    -webkit-text-stroke-color: #6947EF;

    position: absolute;
    left: calc(32% - 582px/2);
    top: 1650px;
    width: 1100px;
    height: 78px;

    
} 


.sub-heading2 h3{

    position: absolute;
    padding: 0;
    width: 600px;
    height: 28px;
    left: calc(48% - 272px/2);
    top: 1650px;

    font-weight: 700;
    font-size: 48px;
    line-height: 28px;

    letter-spacing: 0.045em;
    text-transform: capitalize;

    color: white;
    background: none;

    background: transparent;
}

.subtitle2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:200px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}

.contact-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1160px;
    height: 123px;
    color: #FFF;
    margin-top:50px;
    font-size: 25.89px;
    font-family: Poppins;
    line-height: 28px;
    letter-spacing: 1.942px;
    text-transform: capitalize;
    border-radius: 10px;

   /* background: linear-gradient(to bottom right, #6947EF 0%, rgba(105, 71, 239, 0.00) 50%) bottom right / 80% 80% no-repeat,
                linear-gradient(to bottom left, #6947EF 0%, rgba(105, 71, 239, 0.00) 50%) bottom left / 80% 80% no-repeat,
                linear-gradient(to top left, #6947EF 0%, rgba(105, 71, 239, 0.00) 50%) top left / 80% 80% no-repeat,
                linear-gradient(to top right, #6947EF 0%, rgba(105, 71, 239, 0.00) 50%) top right / 80% 80% no-repeat;*/

            
    background: linear-gradient(to bottom right, #6947EF 0%, rgba(105, 71, 239, 0.00) 75%) bottom right / 50% 50% no-repeat,
                linear-gradient(to bottom left, #6947EF 0%, rgba(105, 71, 239, 0.00) 75%) bottom left / 50% 50% no-repeat, 
                linear-gradient(to top left, #6947EF 0%, rgba(105, 71, 239, 0.00) 75%) top left / 50% 50% no-repeat, 
                linear-gradient(to top right, #6947EF 0%, rgba(105, 71, 239, 0.00) 75%) top right / 50% 50% no-repeat;        

}

/*prefooter*/

.prefooter-heading{
    background-image: url(images/OUR\ CONTACT.svg);
    margin-left: 10%;
    background-repeat: no-repeat;
    height: 80px;
    margin-top: 150px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.prefooter-heading p{
    color: #FFF;
    display: block;
    position: absolute;
   left:365px;
    top:25px;
    font-size: 41.89px;
    font-weight: 700;
    line-height: 28px; /* 66.842% */
    letter-spacing: 1.885px;

}

.prefooter-underline{

    position: absolute;
    width: 130px;
    height: 1px;
    left:480px;
    top:65px;
    color: white;
    stroke-width: 2px;
    
}

.prefooter-subheading{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
    margin-right: 60px;
   
}

.our-contact{

    margin-top: 100px;
    width: 1200px;
    height: 123px;
    border-radius: 10px;
    background: radial-gradient(63.96% 63.96% at 50.00% 33.33%, #6947EF 0%, #000 100%);
    display: flex;
    justify-content: space-between;

    font-size: 25.89px;
    font-weight: 400;
    line-height: 28px;
    
    margin-bottom: 100px;
    padding: 50px 50px ;
}


/*footer*/

.footer-line{
    width: 1386px;
    margin-left: 4%;
    
}

.footer-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-bar h2{
    font-size: 40px;
    font-weight: 400;
}
.footer-bar h2 a span{
    color: #6947EF;
    font-weight: 700;
}

.footer-bar ul li{
    display: inline-block;
    list-style: none;
    margin: 38px 20px;
    font-size: 16px;
}
h2 a{
    cursor: pointer;
    text-decoration: none;
    color: white;
}
.footer-bar ul li a{
    color:#FFFFFF;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    cursor: pointer;
}

.footer-img{
    background-image: url(images/GOAT\ KNOWS\ \(4\).svg);
    width: 100%;
    height: 139px;
    margin-top: 50px;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    margin-right: 0;
    padding-right: 0;

    padding-top: 100px;
    
    display: flex; /* Hidden by default */
    align-items: center;
    justify-content: center;
}

#myBtn {
    display: flex; /* Hidden by default */
    align-items: center;
    justify-content: center;
    /*position: fixed; /* Fixed/sticky position */
    bottom: 50px; /* Place the button at the bottom of the page */
    right: 50%; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    
    background-color: transparent; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 100%; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    font-weight: 400;
    border: 2px solid white;
  }

  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }

  .fasolid{
    font-size: 18px;
  }

.made-in-india p{
    display: flex;
    justify-self: center;
    align-items: center;
    margin-left: 46.5%;
    margin-right: 46%;
}
/*footer

hr{
    position: absolute;
    width: 1383px;
    height: 0px;
    left: calc(50% - 1383px/2 - 0.5px);
    top: 2141px;

    border: 1px solid #FFFFFF;
}
.footercontent{
    display: flex;
    justify-content: space-between;
    margin-top:150px;
    
}
.socials{
    color: white;
}


.bglogo{
    color: transparent;
    
    font-weight: 500;
    font-size: 137.66px;
    line-height: 28px;

    font-family: 'Poppins',normal;

    text-align: center;
    letter-spacing: 0.175em;
    text-transform: capitalize;

    -webkit-text-stroke-width: 3px; 
    -webkit-text-stroke-color: #6947EF;

    position: absolute;
    width: 1880px;
    height: 139px;
    
    left: calc(39% - 1541px/2 + 0.5px);
    /*left:0%;
    right: 0%;*/
    /*top: 2350px;
    opacity: 0.5;
}


.bottomtext
{
    position: absolute;
    width: 202px;
    height: 14px;
    left: calc(50% - 202px/2 + 1px);
    top: 2400px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;

    letter-spacing: 0.26em;

    color: #FFFFFF;
}

.goat{
    font-size: 40px;
    color: #6947EF;
    font-weight: 700;
}
.knows{
    font-size: 40px;
    font-weight: 400;
    color: white;
}*/
