*{
    margin:0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
    
}

body{
    background: #000000;
    color: white;
}


.header{
        width: 100%;
        height: 50vw;
        position: relative;
}



.bg-gradient{
    height: 52vw;
    
    background-position: center;
    background: linear-gradient(to bottom, #191139 40%, #000);
    /*180deg, #191139 0%, #000 14.87%);*/
}
.container{
    padding: 10px 10%;
}


/*nav bar*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2vw;
}

nav h2{
    font-size: 2.5vw;
    font-weight: 400;
}
nav h2 a span{
    color: #6947EF;
    font-weight: 700;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 1.25vw;
    font-size: 0.9vw;
}
h2 a{
    cursor: pointer;
    text-decoration: none;
    color: white;
}
nav ul li a{
    color:#FFFFFF;
    text-decoration: none;
    font-size: 1vw;
    position: relative;
    cursor: pointer;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    background: white;
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: 0.5s;
}

nav ul li a:not(.active):hover::after{ 
    width: 100%;
}



nav ul li a.active{
    border-bottom: 2px solid white;
    transition: 0.5s ease;
  }

  @media  only screen 
    and (min-device-width : 320PX) 
    and (max-device-width : 767px)
    {   
        .container{
            padding: 5px 16px;
        }
        nav h2{
            font-size: 4.5vw;
            font-weight: 400;
        }
        nav h2 a span{
            color: #6947EF;
            font-weight: 700;
           
        }
    }
  

/*home*/
.home{
    display: flex; 
}

.header-text{
    margin-top: 15%;
    font-size: 1.9vw;
    font-weight: 400;
    width: 50%;
    line-height: 2.81vw;
    background: transparent;
}

.header-img{
   width: 50%;
   margin-top: 3vw;
}



.swiper {
    width: 100%;
    height: 100%;
    
  }

  .swiper-slide {
    text-align: center;
    font-size: 1.1vw;
    background:none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  
  .swiper-button-next{
    display: none;
  }


  .swiper-button-prev{
    display: none;
  }

  
.header-img img{
  border-radius: 12%;
   height: auto;
   width: 100%;
}

.header-text h1{
    
    font-weight: 700;
    font-size: 2.5vw;
    line-height: 3.125vw;
    letter-spacing: 0.03em;
}

.header-text h1 span{
    
    color: transparent; 
    font-size: 2.51vw; 
    font-weight: 700;
     
    color: #6947EF;
   
    
    font-family: 'Poppins',sans-serif;
   line-height: 1.75vw; 
    letter-spacing: 2.932px;
    text-transform: uppercase;
    
}

.header-text p{
   margin-top:2.5vw;
    font-weight: 500;
    font-size: 1.125vw;
    line-height: 1.5vw;
}

.hr1{
    border: 1px solid #6947EF;
    width: 10%;
    margin-top: 0.75vw;
}

.home-btn{
    margin-bottom: 100vw;
    width: 10.625vw;
    height: 10vw;
}

.btn{
    display: flex;
    text-align: center;
    justify-content: center;
    
    padding: 0.625vw 0.625vw;
    width: 10.625vw;
    position: absolute;
    border-radius: 0.3725vw;
    text-decoration: none;
    color: white;
    background-color:  #6947EF;
    font-size: 1vw;
}



.btn:hover{
    background-color: #1E1E1E;
    color: WHITE;
    border: 1px solid WHITE;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media  only screen 
    and (min-device-width : 320PX) 
    and (max-device-width : 480px)
    {
        .home{
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            
        }
        .header{
            height: 120vw;
        }

        .bg-gradient{
            height: 90vw;
        }
        .header-img{
            width: 70%;
            margin-top: 50px;
        }

        .header-img{
            width: 70%;
        }
        .header-text{
           
            font-size: 50px;
            width: 100%;
        }

        .header-text H1{
            text-align: center; 
            font-size: 5vw;
            line-height: 4.125vw;
        }
        .header-text H1 span{
            text-align: center; 
            font-size: 5vw;
            line-height: 8.75vw; 
        }

        .header-text p {
            padding-left: 17%;
            padding-right: 17%;
            text-align: center;
            font-size: 2.5vw;
            line-height:normal;
        }

        .hr1{
            display: none;
        }

        .home-btn{
            margin-top: 50px;
            margin-left: 40%;
            margin-right: 45%;
           
        }

        .home-btn .btn{
            width: 18vw;
            height: 4vw;
            padding: 0.5vw 0.5vw;
            font-size: 2vw;

        }
    }

/*SERVICES*/

.services{
    padding: 30px 0px;
    width: 100%;
    margin-bottom: 100px;
    
   
}

.service-heading{
   
   margin-left: 25%;
   margin-right: 30%;
   width: 43vw;
   height: 5.2vw;
   background-repeat: no-repeat;
   margin-bottom: 3vw;
    margin-top: 4vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-heading IMG{
    width: 100%;
}
.service-heading p{
    color: #FFF;
    display: block;
    position: absolute;
   left:11.875vw;
    top:1.5628vw;
    font-size: 3vw;
    font-weight: 700;
    line-height: 1.75vw; /* 66.842% */
    letter-spacing: 0.1178vw;

}

.service-underline{

    position: absolute;
    width: 8.8125vw;
    height: 0.0625vw;
    left:20.625vw;
    top:4.0625vw;
    color: white;
    stroke-width: 0.125vw;
    
}

.service-subheading{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1vw;
    font-weight: 400;
    margin-top: 1.8vw;
    margin-right: 3.6vw;
}


@media  only screen 
    and (min-device-width : 320PX) 
    and (max-device-width : 480px)
    {
        .service-heading{
            margin-left: 12%;
            margin-right: 12%;
            margin-top: 20vw;
            width: 72vw;
        }

        .service-heading p{
            left:14.875vw;
            top:1.6628vw;
            font-size: 6.5vw;
        }

        .service-underline{
            width: 14.8125vw;
            height: 0.0625vw;
            left:40.625vw;
            top:5.5625vw;
        }

        .service-subheading{
            font-size: 3vw;
            margin-top: 8.8vw;
            margin-left: 6vw;
            
        }

    }
 
/*SERVICES CARD*/

    .service{
        padding: 1.8vw 10%;
        margin-top: 6.25VW;
       
    }
    
    .services-list{
        display: grid;
        grid-template-columns:  auto auto;
        gap:10vw 10vw;
        /*margin-top: 50px;*/
    }
    
    
    .card{
        background: #000000;
        padding: 1.875vw;
        font-size: 0.8125vw;
        font-weight: 300;
        border: 1px solid #FFFFFF;
        border-radius: 0.625vw;
        transition: background 0.5s,transform 0.5s;
        text-align: center;
        width: 25vw;
        height: 15.625vw;
        position: relative;
        overflow: hidden;

        
    }
    
    .card img{
        width: 4.25vw;
        height: 4.25vw;
        filter: drop-shadow(5px 5px 10px white);
        margin-bottom: 1.25vw;
    }
    
    .card a{
        color: #6947EF;
        text-decoration: none;
        font-size: 1vw;
        font-weight: 500;
    }

    .card-hover{
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: -100%;
        right: 0;
        background: #6947EF;
        border-radius: 0.625vw;
        padding-top: 1.25vw;
        padding-left: 0.625vw;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        transition: 0.25s;

        
        
    }

    .card:hover .card-hover{
        bottom: 0;
        
        
    }
    
    .card:hover{
        filter: drop-shadow(5px 5px 20px #6947EF) ;
    }
    
    .card-hover p{

        width: 22.828625vw;
        height: 8.1818125vw;
        font-size: 1vw;
        font-weight: 400;
        
    }
    .card-hover a{
        color: #FFFFFF;
        font-size: 1vw;
        font-weight: 500;
    }


    .services-list div i{
        font-size: 3.125vw;
        margin-bottom: 1.875vw;
    }
    
    .services-list div h2{
       font-size: 1.625vw;
        font-weight: 500;
        margin-bottom: 0.9375vw;
        color: white;
    }
    
    #layer1 h2{
        margin-top: 3.25vw;
    }*/
    
    
    
    .services-list div a{
        text-decoration: none;
        color: #6947EF;
        font-size: 1vw;
        margin-top: 3.125vw;
        display: inline-block;
        
    }
    
    
    .services-list div:hover{
        background: #6947EF;
        box-shadow: 0px 4px 100px rgba(105, 71, 239, 0.25);
        
    
    }

    @media only screen 
    and (min-device-width : 320PX) 
    and (max-device-width : 480px){
        .services{
            margin-bottom: 20px;
        }
        .services-list{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        .card{
            width: 50vw;
            height: 30.625vw;
            border-radius: 1.925vw;
            padding-top: 5vw;
           
        }
        .card img{
            width: 8.5vw;
            height: 8.5vw;
            filter: drop-shadow(5px 5px 10px white);
            margin-bottom: 0;
        }

        .card-hover p{
            width: 44.828625vw;
            height: 16.1818125vw;
            font-size: 2vw;
        }

        .card-hover a{
            font-size: 2vw;
        }

        .services-list div h2{
            font-size:3.3vw;
             font-weight: 500;
             margin-bottom: 4vw;
             color: white;
         }
    }
    
    /*PROCESS*/

    .process-heading{
        margin-left: 23%;
        margin-right: 30%;
        margin-top: 6.25vw;
        margin-bottom: 8vw;
        width: 43vw;
        height: 5.2vw;
        background-repeat: no-repeat;
        
           
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .process-heading IMG{
        width: 100%;
    }
    .process-heading p{
        color: #FFF;
        display: block;
        position: absolute;
       left:7vw;
        top:1.5625vw;
        font-size: 2.625vw;
        font-weight: 700;
        line-height: 1.75vw; /* 66.842% */
        
        letter-spacing: 1px;
    
    }

    .process-underline{

        position: absolute;
        width: 8.81vw;
        height: 1px;
        left:24.375vw;
        top:4.065vw;
        color: white;
        stroke-width: 2px;
        
    }

    
    .process-img .lap-img{
        width: 100%;
    }
    .process-img .phone-img{
        display: none;
    }

    @media only screen 
    and (min-device-width : 320PX) 
    and (max-device-width : 480px){

        .process-heading{
            margin-left: 12%;
            margin-right: 12%;
            margin-top: 10vw;
            width: 72vw;
        }

        .process-heading p{
            left:4.875vw;
            top:1.6628vw;
            font-size: 6.0vw;
        }

        .process-underline{
            width: 14.8125vw;
            height: 0.0625vw;
            left:52.625vw;
            top:5.5625vw;
        }

        .process-subheading{
            font-size: 3vw;
            margin-top: 8.8vw;
            margin-left: 6vw;
            
        }

        .process-img .lap-img{
           display: none;
        }

        .process-img .phone-img{
            display: block;
           margin-left: 20%;
           margin-top: 50px;
        }

    }

    /*FAQ*/

    .faq-heading{
        margin-left: 23%;
        margin-right: 30%;
        margin-top: 6.25vw;
        margin-bottom: 8vw;
       
        width: 43vw;
        height: 5.2vw;
        
        background-repeat: no-repeat;
        
           
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .faq-heading IMG{
        
        height: 5vw;
        width: 17vw;
    }

    .faq-heading p{
        color: #FFF;
        display: block;
        position: absolute;
       left:5vw;
        top:1.5625vw;
        font-size: 2.625vw;
        font-weight: 700;
        line-height: 1.75vw; /* 66.842% */
        
       
    
    }

    .faq-underline{

        position: absolute;
        width: 8.81vw;
        height: 1px;
        left:26.375vw;
        top:4.065vw;
        color: white;
        stroke-width: 2px;
        
    }

   /* .faq-heading{
        background-image: url(images/FAQ.svg);
        margin-left: 38%;
        background-repeat: no-repeat;
        height: 80px;
        margin-top: 70px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 120px;
    }

    .faq-heading p{
        color: #FFF;
        display: block;
        position: absolute;
       left:-145px;
        top:25px;
        font-size: 41.89px;
        font-weight: 700;
        line-height: 28px;  
        letter-spacing: 1.885px;
    
    }

    .faq-underline{

        position: absolute;
        width: 141px;
        height: 1px;
        left:263px;
        top:65px;
        color: white;
        stroke-width: 2px;
        
    }
*/
    .accordian{
        max-width: 98%;
        
    }

    .accordian .contentbx{
        position: relative;
        margin: 3.75vw 1.25vw;
        border: 2px solid rgba(255, 255, 255, 1);
        border-radius: 5px;
    }

    .hr-box{
        width: 99%;
    }
    .accordian .contentbx .label{
        position: relative;
        padding: 10px ;
        
        color: rgba(255, 255, 255, 1);
        cursor: pointer;
        
    }
        
    @media only screen 
    and (min-device-width : 320PX) 
    and (max-device-width : 720px){

        .accordian .contentbx .label{
            font-size: 2vw;
        }
    }
    
    .accordian .contentbx .label::before{
        content: '+';
        position: absolute;
        top: 25%;
        right: 1.25vw;
        /*transform: translateY(-50%);*/
        font-size: 16px;
        transition: 0.3s ease;
    }
    

    .accordian .contentbx.active .label::before{
        /*content: '-';*/
        margin-top: 1px;
        transform: rotate(45deg);
    }

    .accordian .contentbx .content {
        position: relative;
        height: 0;
        overflow: hidden;
        transition: 0.5s;
        overflow-y: hidden;
        font-size: 1.25vw;
    }

    .accordian .contentbx.active .content{
        height: auto;
        padding: 10px;
    }

    .hidden {
        display: none;
    }

    #toggle-btn {
        display: flex;
        text-align: center;
        justify-content: center;
        border: 1px solid white;
        padding: 0.625vw 0.625vw;
        width: 10vw;
        margin-left: 45%;
        border-radius: 0.375VW;
       font-size: 1vw;
        background:none; /* Change to your preferred button color */
        color: #fff;
        
        cursor: pointer;
        
        
    }
    
    #toggle-btn:hover {
        background-color: #6947EF; /* Change to a darker shade for hover effect */
    }
    
    /*contact*/

    .contact-heading{
        margin-left: 23%;
        margin-right: 30%;
        margin-top: 6.25vw;
        margin-bottom: 3vw;
        width: 43vw;
        height: 5.2vw;
        background-repeat: no-repeat;
        
           
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contact-heading IMG{
        width: 100%;
    }
    .contact-heading p{
        color: #FFF;
        display: block;
        position: absolute;
       left:13vw;
        top:1.5625vw;
        font-size: 2.625vw;
        font-weight: 700;
        line-height: 1.75vw; /* 66.842% */
        
        letter-spacing: 1.885px;
    
    }

    .contact-underline{

        position: absolute;
        width: 8.81vw;
        height: 1px;
        left:22vw;
        top:4.065vw;
        color: white;
        stroke-width: 2px;
        
    }
    /*.contact-heading{
        background-image: url(images/CONTACT.svg);
        margin-left: 23%;
        background-repeat: no-repeat;
        height: 80px;
        margin-top: 150px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
    }

    .contact-heading p{
        color: #FFF;
        display: block;
        position: absolute;
       left:195px;
        top:25px;
        font-size: 41.89px;
        font-weight: 700;
        line-height: 28px; 
        letter-spacing: 1.885px;
    
    }

    .contact-underline{

        position: absolute;
        width: 130px;
        height: 1px;
        left:348px;
        top:65px;
        color: white;
        stroke-width: 2px;
        
    }
*/
    .contact-subheading{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1vw;
        font-weight: 400;
       
    }

    /*FORM BG*/
.container .formbg{
    width: 80vw;
    height: 76.25vw;
    position: relative;
    /*background: url(images/about-img2.jpg);*/
    margin-top: 6.25VW;
    
    /*background-image: url(images/formbg.jpg);
    background-size:  cover;
    opacity: 0.3;*/
    
}

.formbg::before{
    
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(images/formbg.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.4;
    z-index: -1;
    border-radius: 10px;
}

.phoneformimg{
    display: none;
}
@media only screen 
and (min-device-width : 320PX) 
and (max-device-width : 720px){

    .formbg::before{
        background-image: none;
    }

    .phoneformimg{
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
        margin-bottom: 4vw;
        opacity: 0.7;
    }
    
    
}

.formbg form{
    padding-top: 1.875vw;
    margin-left: 3.125vw;
    margin-bottom: 1000px;
    font-size: 1.25vw;
    position: relative;
    z-index: 1;
    
}

form input,select,textarea{
    font-size: 1.25vw;
    border-radius: 0.25vw;
    background: transparent;
    
    border: 1px solid #FFF;
    width: 22.125vw;
    height: 2.81vw;
    color: white;
}

form input{
    padding-left: 0.625vw;
    
}

form textarea{
    padding-left: 0.625vw;
    padding-top: 0.625vw;
}
/*drop down*/


.select-box {
    position: relative;
    border: 1px solid #FFF;
    width: 26rem;
    border-radius: 4px;
    
}

.select-box input {
    width: 100%;
    padding: 1rem .6rem;
    font-size: 20px;
     
    border: .1rem solid transparent;
    outline: none;
}

input[type="tel"] {
    border-radius: 0 .5rem .5rem 0;
}

.select-box input:focus {
    border: .1rem solid var(white);
}

.selected-option {
    background-color: transparent;
    border-radius: .5rem;
    overflow: hidden;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selected-option div{
    position: relative;
    display: flex;
    width: 6rem;
    padding: .1rem 0.8rem 0 .5rem;
    text-align: center;
    cursor: pointer;
    margin-right: 32px;
}

.selected-option input{
    border-left: 1px solid white;
    margin-left: 10px;
}
.selected-option div::after{
    position: absolute;
    content: "";
    right: .1rem;
    left: 6rem;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    
    width: .8rem;
    height: .8rem;
    border-right: .12rem solid white;
    border-bottom: .12rem solid white;
    
    transition: .2s;
}

.selected-option div.active::after{
    transform: translateY(-50%) rotate(225deg);
}

.select-box .options {
    position: absolute;
    top: 4rem;
    
    width: 100%;
    background-color: black;
    border-radius: .5rem;

    display: none;
}

.select-box .options.active {
    display: block;
}

.select-box .options::before {
    position: absolute;
    content: "";
    left: 1rem;
    top: -1.2rem;

    width: 0;
    height: 0;
    border: .6rem solid transparent;
    border-bottom-color: var(--primary);
}

input.search-box {
    background-color: var(--primary);
    color: #fff;
    border-radius: .5rem .5rem 0 0;
    padding: 1.4rem 1rem;
}

.select-box ol {
    list-style: none;
    max-height: 23rem;
    overflow: overlay;
}

.select-box ol::-webkit-scrollbar {
    width: 0.6rem;
}

.select-box ol::-webkit-scrollbar-thumb {
    width: 0.4rem;
    height: 3rem;
    background-color: #ccc;
    border-radius: .4rem;
}

.select-box ol li {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.select-box ol li.hide {
    display: none;
}

.select-box ol li:not(:last-child) {
    border-bottom: .1rem solid #eee;
}

.select-box ol li:hover {
    background-color: grey;
}

.select-box ol li .country-name {
    margin-left: .4rem;
}


option/*:not(:checked) */{
    background-color: black;
 }
form textarea{
    font-size: 1.25vw;
    width: 42.5vw;
    height: 23.81vw;
    color: white;
}

.label{
    font-size: 1.25vw;
}

.button{
    display: flex;
    text-align: center;
    justify-content: center;
    
    padding: 0.625vw 0.625vw;

    border-radius: 0.375vw;
    background: transparent;
    border: 1px solid white;
    
    color: white;
   
    font-size: 1vw;
    font-family: 'Poppins',sans-serif;
    width: 7.56vw;
    height: 2.875vw;
}

.tagline{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins';
    position: absolute;
    bottom: 1%;
    left: 30%;
    
    font-size: 1.25vw;
    
}

.tagline img{
    margin-right: 1vw;
    width: 2vw;
}
/*prefooter*/

.prefooter-heading{
    margin-left: 12%;
    margin-right: 20%;
    margin-top: 6.25vw;
    margin-bottom: 3vw;
    width: 62.5vw;
    height: 5.2vw;
    background-repeat: no-repeat;
    
       
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen 
and (min-device-width : 320PX) 
and (max-device-width : 720px){

    .prefooter-heading{
        margin-top: 75vw;
    }
}

.prefooter-heading IMG{
    width: 100%;
}
.prefooter-heading p{
    color: #FFF;
    display: block;
    position: absolute;
   left:22vw;
    top:1.5625vw;
    font-size: 2.625vw;
    font-weight: 700;
    line-height: 1.75vw; /* 66.842% */
    
    letter-spacing: 1.885px;

}

.prefooter-underline{

    position: absolute;
    width: 8.81vw;
    height: 1px;
    left:29vw;
    top:4.065vw;
    color: white;
    stroke-width: 2px;
    
}

/*.prefooter-heading{
    background-image: url(images/OUR\ CONTACT.svg);
    margin-left: 10%;
    background-repeat: no-repeat;
    height: 80px;
    margin-top: 150px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.prefooter-heading p{
    color: #FFF;
    display: block;
    position: absolute;
   left:365px;
    top:25px;
    font-size: 41.89px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 1.885px;

}

.prefooter-underline{

    position: absolute;
    width: 130px;
    height: 1px;
    left:480px;
    top:65px;
    color: white;
    stroke-width: 2px;
    
}*/

.prefooter-subheading{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2vw;
    font-weight: 400;

}

.our-contact{

    margin-top: 6.25vw;
    width: 95%;
    height: 7.68vw;
    border-radius: 10px;
    
    background-repeat: no-repeat;
    
    font-size: 1.5vw;
    font-weight: 400;
    line-height: 1.75vw;

    padding: 3.125vw 3.125vw;


    position: relative;
}

.our-contact img{
    width: 100%;
}

.our-contact .number{
    position: absolute;
    top: 80%;
    left: 5%;
}
.our-contact .number i{
    margin-right: 10px;
    font-size: 2vw;
}
.our-contact .email{
    position: absolute;
    top: 80%;
    right: 5%;
}
.our-contact .email i{
    margin-right: 10px;
    font-size: 2vw;
}

.quote p{

    margin-top: 11.75vw;
    color: #FFF;
    text-align: center;
    width: 95%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Times New Roman", Times, serif;
    font-size: 1.5vw;
    font-weight: 400;
    line-height: 2.1vw; /* 139.05% */
    letter-spacing: 1.553px;

    margin-bottom: 10vw;
}
/*footer*/

.footer-line{
    width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.footer-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-bar h2{
    font-size: 2.5vw;
    font-weight: 400;
}
.footer-bar h2 a span{
    color: #6947EF;
    font-weight: 700;
}

.footer-bar ul li{
    display: inline-block;
    list-style: none;
    margin: 0.375vw 1.25vw;
    font-size: 1vw;
}

.footer-bar h2 a{
    cursor: pointer;
    text-decoration: none;
    color: white;
}
.footer-bar ul li a{
    color:#FFFFFF;
    text-decoration: none;
    font-size: 1.1vw;
    position: relative;
    cursor: pointer;
}

.footer-bar ul li a img{
    width: 2vw;
}

.footer-img{
    
    margin-top: 2px;
   
    background-repeat: no-repeat;
    margin-right: 0;
    padding-right: 0;
    padding-top: 4vw;
    
    display: flex; 
    align-items: center;
    justify-content: center;
}


#myBtn {
    display: flex; /* Hidden by default */
    align-items: center;
    justify-content: center;
    /*position: fixed; /* Fixed/sticky position */
     /* Make sure it does not overlap */
    
    background-color: transparent; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
     /* Rounded corners */
    
    border: none;
    border-radius: 100%;
    
  }
  @media only screen 
  and (min-device-width : 320PX) 
  and (max-device-width : 720px){
  
  #myBtn img{
    height: 20px;
    width: 20px;
  }
}
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }
.made-in-india p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
}



/*TABLET*/

